.course-info {
    width: 95vw;
    margin: 30px auto 0;     
    border: 1px solid blue;
}

.course-info__wrapper {
    margin: 20px ;
}

.course-info__link {
    margin: 20px;
}

.course-info__title {
    margin: 20px 20px 40px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

.course-info__container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 50px;
}

.course-info__text {
    width: 60%;
    margin-right: 50px;
}

.course-info__about {
    font-size: 18px;
}
.course-info__desc {
    font-size: 1.2vw;
}

.course-info__field {
    padding: 5px;
    width: 100%;    
}

.course-info__field--bold {
    font-weight: bold;
    margin-bottom: 20px;
}