.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: 95vw;
    margin: 0 auto;
    border: 1px solid red;
}
.header__container {
    display: flex;
    align-items: center;
    margin: 0 20px;
}
.header__text{
    margin: 0 20px;
    text-transform: capitalize;
}