.container {
    width: 95vw;
    margin: 30px auto 0;    
    border: 1px solid blue;
    display: flex;
    flex-direction: column;
}
.container__toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px; 
}
.container__list {
    padding: 0;
    margin: 0;
}